.body {
  background-color: #f5f6f9;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .head {
    font-family: "Poppins", sans-serif;
    // font-family: normal normal 600 24px/24px Poppins;
    font-weight: 600;
    letter-spacing: 0px;
    color: #454c66;
    text-transform: capitalize;
    opacity: 1;
  }
  .desc {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    color: #747a88;
    opacity: 1;
  }
}
