<div class="body">
  <div class="row">
    <!--     <div class="col-md-4 d-sm-none d-md-block left-side">
 -->
    <div class="col-md-3 left-side">
      <!-- <img src="../../../../assets/images/asdsdsadsadasdasd.png" width="100%" height="100%" alt="" /> -->
    </div>
    <div class="col-sm-12 col-md-9 right-side">
      <div class="help">
        <p class="text-right">
          Having troubles? <span><a>Get Help</a></span>
        </p>
      </div>
      <div class="row">
        <div class="form">
          <p class="head">
            Start your
            <!-- style="border: 2px solid #6ac7bb; opacity: 1" -->
            <span>business</span>
            now
          </p>
          <p class="desc">Creating your company is just a few steps away,</p>
          <p class="desc">Enter your email address to continue.</p>
          <form style="margin-top: 48px">
            <div class="row">
              <div class="col-md-6" style="margin-bottom: 24px">
                <div class="form-group">
                  <label for="FirstName" style="margin-bottom: 8px"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="FirstName"
                    placeholder="Enter your first Name"
                    style="
                      border: 1px solid #b4ace5;
                      border-radius: 4px;
                      opacity: 1;
                    "
                  />
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom: 24px">
                <div class="form-group">
                  <label for="LastName" style="margin-bottom: 8px"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="LastName"
                    placeholder="Enter your last Name"
                    style="
                      border: 1px solid #b4ace5;
                      border-radius: 4px;
                      opacity: 1;
                    "
                  />
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom: 24px">
                <div class="form-group">
                  <label for="email" style="margin-bottom: 8px"
                    >Email address</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email"
                    style="
                      border: 1px solid #b4ace5;
                      border-radius: 4px;
                      opacity: 1;
                    "
                  />
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom: 24px">
                <div class="form-group">
                  <label for="FirstName" style="margin-bottom: 8px"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="FirstName"
                    placeholder="Enter your first Name"
                    style="
                      border: 1px solid #b4ace5;
                      border-radius: 4px;
                      opacity: 1;
                    "
                  />
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom: 24px">
                <div class="form-group">
                  <label for="FirstName" style="margin-bottom: 8px"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="FirstName"
                    placeholder="Enter your first Name"
                    style="
                      border: 1px solid #b4ace5;
                      border-radius: 4px;
                      opacity: 1;
                    "
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
